<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="#{formId}">
        <p:dialog id="#{widgetVar}"
                  widgetVar="#{widgetVar}"
                  header="#{dialogTitle}"
                  resizable="false"
                  modal="true" width="400"
                  closeOnEscape="true">
            <p:focus context="addConfigDlg" for="commentInput"/>
            <p:panelGrid columns="2" layout="grid">
                <p:outputLabel value="Revision:" />
                <p:inputText value="#{configParamsManager.config.revision}"
                             readonly="true" style="width:14em;"/>

                <p:outputLabel value="User:" />
                <p:inputText value="#{configParamsManager.config.user}"
                             readonly="true" style="width:14em;"/>

                <p:outputLabel value="IOC:" />
                <p:inputText value="#{configParamsManager.config.ioc.name}"
                             readonly="true" style="width:14em;"/>

                <p:outputLabel value="OS:" />
                <p:inputText value="#{configParamsManager.config.os}"
                             readonly="true" style="width:14em;"/>

                <p:outputLabel value="EPICS Base:" />
                <p:selectOneMenu value="#{configParamsManager.config.epicsVersion}"
                                 converter="iocfactory.EpicsVersionConverter" style="width: calc(100% - 26px);">
                    <f:selectItems value="#{configParamsManager.epicsVersions}" var="ver"
                                   itemLabel="#{versionConverters.epicsVersionToString(ver)}"/>
                    <p:ajax event="change" update="configEpics"
                            listener="#{configParamsManager.updateEnvVersions()}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Environment version:" />
                <p:selectOneMenu id="configEpics" value="#{configParamsManager.config.envVersion}"
                                 style="width: calc(100% - 26px);">
                    <f:selectItems value="#{configParamsManager.envVersions}" var="ver"
                                   itemLabel="#{ver}"/>
                </p:selectOneMenu>

                <p:outputLabel value="ProcServ port:" />
                <p:inputText value="#{configParamsManager.config.procServPort}"
                             style="width:14em;">
                    <f:validateLongRange minimum="1" maximum="65535" />
                </p:inputText>

                <p:outputLabel value="Description:" />
                <p:inputText id="commentInput" value="#{configParamsManager.config.comment}" style="width:14em;"/>
            </p:panelGrid>
            <p:separator />
			<p:panel styleClass="dialogButtonPanel">
	            <p:commandButton style="flow: right;" actionListener="#{configParamsManager.addConfiguration}"
	                             value="Create"
	                             rendered="#{createVisible}"
	                             oncomplete="PF('addConfigDlg').hide(); refreshAll();"
	                             update="iocsForm:iocs configsForm:configs globalsForm:globals devicesForm:devices paramsForm:params">
	            </p:commandButton>
	            <p:commandButton actionListener="#{configParamsManager.editConfiguration}"
	                             value="Save" icon="ui-icon-disk"
	                             rendered="#{saveVisible}"
	                             update="iocsForm:iocs configsForm:configs globalsForm:globals devicesForm:devices paramsForm:params"
	                             oncomplete="PF('editConfigDlg').hide(); refreshAll();">
	            </p:commandButton>
           	</p:panel>
        </p:dialog>
    </h:form>
</ui:composition>