<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="deleteConfirmForm">
        <p:dialog id="deleteConfirmDlg"
                  widgetVar="delConfirmDlg"
                  header="Confirmation"
                  modal="true"
                  resizable="false">
            <h:panelGrid columns="2" border="0" style="font-size: larger">
                <div class="ui-icon ui-icon-alert"/>
                <h:outputText value="This will delete the listed configuration(s)? Proceed?" />
            </h:panelGrid>
            <p:spacer height="3em"/>
            <h:panelGroup layout="span" style="float: left; width:40em;">
                <p:dataTable value="#{configurationsManager.selectedConfigs}"
                             var="config"
                             rowKey="#{config.id}"
                             style="height: 50vh">
                    <p:column width="30%" headerText="IOC">
                        <h:outputText value="#{config.ioc.name}"/>
                    </p:column>
                    <p:column width="10%"  headerText="Rev">
                        <h:outputText value="#{config.revision}"/>
                    </p:column>
                    <p:column width="30%" headerText="Last Edit">
                        <h:outputText value="#{config.lastEdit}"/>
                    </p:column>
                    <p:column width="30%" headerText="Comment">
                        <h:outputText value="#{config.comment}"/>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
            <f:facet name="footer">
				<p:panel styleClass="dialogButtonPanel">
                    <p:commandButton value="Yes" icon="ui-icon-check"
                                     action="#{configurationsManager.deleteConfiguration()}"
                                     update="configsForm:configsBtns globalsForm:globalsBtns devicesForm:devicesBtns paramsForm:paramsBtns"
                                     oncomplete="PF('delConfirmDlg').hide();refreshBelowIOCs();"/>
                    <p:commandButton value="No" icon="ui-icon-closethick" onclick="PF('delConfirmDlg').hide();"/>
				</p:panel>
            </f:facet>
        </p:dialog>
    </h:form>
</ui:composition>