<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="delIocDlgForm">
        <p:confirmDialog id="delIocDlg"
                         widgetVar="delIocDlg"
                         header="Delete IOC">
            <f:facet name="message">
                <h:outputText escape="false" value="#{iocsManager.delIocMessage}"/>
            </f:facet>
            <p:commandButton value="Yes"
                             styleClass="ui-confirmdialog-yes"
                             icon="ui-icon-check"
                             action="#{iocsManager.deleteIoc()}"
                             oncomplete="PF('delIocDlg').hide();refreshAll();"
                             update="iocsForm:iocs"/>
            <p:commandButton value="No"
                             type="button"
                             styleClass="ui-confirmdialog-no"
                             onclick="PF('delIocDlg').hide();"
                             icon="ui-icon-close" />
        </p:confirmDialog>
    </h:form>
</ui:composition>