<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="confirmEEESwitchForm">
        <p:dialog id="confirmEEESwitchDlg"
                  widgetVar="confirmEEESwitchDlg"
                  header="Save Changes">
            <h:outputText value="Do you want to save changes made to the configuration?"/>

            <f:facet name="footer">
				<p:panel styleClass="dialogButtonPanel">
	                <p:commandButton value="Save" action="#{configureEEESwitchHandler.saveConfiguration()}"
	                                 update="iocsForm:iocs configsForm:configs globalsForm:globals devicesForm:devices
	                                 paramsForm:params"
	                                 oncomplete="PF('confirmEEESwitchDlg').hide(); refreshAll();"
	                                 icon="ui-icon-disk"/>
	                <p:spacer width="4"/>
	                <p:commandButton value="Discard" action="#{configureEEESwitchHandler.discardConfiguration()}"
	                                 update="iocsForm:iocs configsForm:configs globalsForm:globals devicesForm:devices
	                                 paramsForm:params"
	                                 oncomplete="PF('confirmEEESwitchDlg').hide(); refreshAll();"
	                                 icon="ui-icon-arrowrefresh-1-e"/>
	                <p:spacer width="4"/>
	                <p:commandButton value="Cancel"
	                                 action="#{repositorySelector.revertSelection()}"
	                                 oncomplete="PF('confirmEEESwitchDlg').hide();"
	                                 update="iocsForm:iocs configsForm:configs menuform:globalRepoData"
	                                 icon="ui-icon-cancel"/>
				</p:panel>
            </f:facet>
        </p:dialog>
    </h:form>
</ui:composition>