<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="#{formId}">
        <p:dialog id="#{widgetVar}"
                  widgetVar="#{widgetVar}"
                  header="#{dialogTitle}"
                  modal="true"
                  resizable="false"
                  closeOnEscape="true">
            <p:panelGrid layout="grid" columns="2" columnClasses="globalLeftColumn,globalRightColumn">
                <p:outputLabel value="Macro name:" />
                <p:selectOneMenu id="macroName" value="#{globalsManager.macroName}"
                                 editable="true"
                                 filter="true" filterMatchMode="contains"
                                 style="width: calc(18em - 26px);"
                                 required="true" requiredMessage="Please enter an environment macro name">
                    <f:selectItem itemLabel="" itemValue="" />
                    <f:selectItems value="#{globalsManager.globalsHints}"
                                   var="globalHint"
                                   itemValue="#{globalHint.name}"
                                   itemLabel="#{globalHint.name}"
                                   itemDescription="#{globalHint.desc}"/>
                    <p:ajax event="change" update="macroType macroDesc macroValue" listener="#{globalsManager.emptyListener()}"/>
                </p:selectOneMenu>

                <p:outputLabel value="Type:"/>
                <h:outputText id="macroType" value="#{globalsManager.macroType}"/>

                <p:outputLabel value="Desc:"/>
                <h:panelGroup id="macroDesc" layout="span" styleClass="ellipsis">
                    <h:outputText id="macroDescTxt" value="#{globalsManager.macroDesc}"
                                  style="width: 18em; white-space: nowrap; overflow: hidden;"
                                  styleClass="ellipsis"/>
                    <p:tooltip for="macroDescTxt" value="#{globalsManager.macroDesc}" trackMouse="true"/>
                </h:panelGroup>

                <p:outputLabel value="Value:"/>
                <p:inputText id="macroValue" value="#{globalsManager.macroValue}" style="width: 18em;"/>
            </p:panelGrid>

            <f:facet name="footer">
				<p:panel styleClass="dialogButtonPanel">
	                <p:commandButton action="#{globalsManager.add()}"
	                                 value="Add"
	                                 icon="ui-icon-plus"
	                                 style="width: 6em;"
	                                 rendered="#{addVisible}"
	                                 oncomplete="handleGlobalAddRequest(xhr, status, args);"
	                                 update="iocsForm:iocs configsForm:configs globalsForm:globals devicesForm:devices
	                                         paramsForm:params"/>
	
	                <p:commandButton action="#{globalsManager.edit()}"
	                                 value="OK"
	                                 icon="ui-icon-check"
	                                 style="width: 6em;"
	                                 rendered="#{editVisible}"
	                                 oncomplete="handleGlobalEditRequest(xhr, status, args);"
	                                 update="iocsForm:iocs configsForm:configs globalsForm:globals devicesForm:devices
	                                         paramsForm:params"/>
	
	                <p:spacer width="4"/>
	                <p:commandButton value="Cancel"
	                                 style="width: 6em;"
	                                 icon="ui-icon-cancel"
	                                 onclick="PF('#{widgetVar}').hide();"/>
				</p:panel>
            </f:facet>
        </p:dialog>
    </h:form>
</ui:composition>
