/*
 * Copyright (c) 2015-2016 European Spallation Source
 * Copyright (c) 2015-2016 Cosylab d.d.
 *
 * This file is part of IOC Factory.
 *
 * IOC Factory is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 2 of the License,
 * or any newer version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
 */

.errorHighlight {
    color: #D8000C;
    background-color: #FFBABA !important;
}
.errorHighlight.ui-state-hover {
    background-color: #41b9e6 !important;
}
.errorHighlight.ui-state-active, .errorHighlight.ui-state-highlight {
    background-color: #7de1ff !important;
}

.warnHighlight {
    color: #9F6000;
    background-color: #FEEFB3 !important;
}
.warnHighlight.ui-state-hover {
    background-color: #41b9e6 !important;
}
.warnHighlight.ui-state-active, .warnHighlight.ui-state-highlight {
    background-color: #7de1ff !important;
}

.highlightHighlight {
    color: #006400;
    background-color: #A8FBA8 !important;
}
.highlightHighlight.ui-state-hover {
    background-color: #41b9e6 !important;
}
.highlightHighlight.ui-state-active, .highlightHighlight.ui-state-highlight {
    background-color: #7de1ff !important;
}

.setup-general {
    display: inline-block;

}


.ui-panelgrid-content {
    border: none;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.tbl_col_slot {
    width: 22em;
}

.tbl_col_boolean {
    width: 7em;
}

.tbl_col_os {
    width: 11em;
}

.tbl_col_rev {
    width: 7em;
}

.tbl_col_cstatus {
    width: 18em;
}

.tbl_col_date {
    width: 11.5em;
}

.tbl_col_timestamp {
    width: 14em;
}

.tbl_col_user {
    width: 10em;
}

.tbl_col_module_name {
    width: 17em;
}

.tbl_col_module_version {
    width: 12em;
}

.tbl_col_epics_version {
    width: 6em;
}

.tbl_col_module_snippet {
    width: 17em;
}

.tbl_col_macro_name {
    width: 12em;
}

.tbl_col_macro_type {
    width: 6em;
}

.tbl_col_env_name {
    width: 6em;
}

.tbl_col_log_type {
    width: 15em;
}

.tbl_col_log_type_ddl {
    min-width: 10em !important;
}

.tbl_col_verify_category {
    width: 10em;
}

.tbl_col_verify_type {
    width: 6em;
}

.ui-datatable-tablewrapper, .ui-tabs-panel {
	height: 100%;
}

/* TODO REMOVE WORKAROUND:
 * Scrollable tables in primefaces 6.2 ignore the scrollHeight attribute if its value has an unit (%, px, etc).
 * Thus the table's height cannot be made relative to it's parent height.
 * This workaround works by subtracting the table header height (which is 45px).
 */
.ui-datatable-scrollable-body {
    max-height: calc(100% - 45px);
    overflow-x: hidden;
}

.tbl_100px_max_height .ui-datatable-scrollable-body {
    max-height: 100px !important;
}

.tbl_180px_max_height .ui-datatable-scrollable-body {
    max-height: 180px !important;
}

.tbl_240px_max_height .ui-datatable-scrollable-body {
    max-height: 240px !important;
}
