/*
 * Copyright (c) 2015-2016 European Spallation Source
 * Copyright (c) 2015-2016 Cosylab d.d.
 *
 * This file is part of IOC Factory.
 *
 * IOC Factory is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 2 of the License,
 * or any newer version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
 */
body {
    font-family: Verdana, "Verdana CE", Arial, "Arial CE",
        "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    overflow: hidden;
    margin: 0px;
    height: 100%;
}

.toolbar-button {
    margin-left: 4px;
    vertical-align: middle;
}

.login-button {
    margin-left: 8px;
    vertical-align: middle;
}

.eee-selection-menu {
    vertical-align: middle;
    margin-left: 4px;
    width: 6em !important;
}

.footer-message {
	position: fixed;
    width: 100%;
    text-align: center;
    vertical-align: middle;
	bottom: 0.25em;
	color: lightgray;
	text-align: center;
	font-size: 0.9em;
	margin: auto;
}


/* for all of primefaces components */
.ui-widget, .ui-widget .ui-widget {
    font-size: 12px;
}

.ui-tooltip .ui-tooltip-text {
    color: black !important;
    background-color: #e8e8e8 !important;
}

.ui-widget table {
    font-size: 12px;
}

/* text wrap around in data table */
.ui-datatable td {
    white-space: normal !important;
}

.noBorders, .noBorders>tbody>tr, .noBorders>tbody>tr>td {
    background: none;
    border: none !important;
    vertical-align: top;
}

.ui-growl {
    position: absolute;
    top: 0%;
}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap,
    .ui-layout-bd, .ui-layout-hd {
    border: none;
}

.ui-panel-title, .ui-panelgrid-header {
    font-weight: normal;
}

.link {
    text-decoration: underline !important;
}

.ui-menubar {
    margin-right: 15px;
}

#top {
    position: absolute;
    top: 0px;
    width: 100%;
}

#content {
    position: absolute;
    overflow-y: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
}

#content-wrapper {
    position: absolute;
    bottom: 20px;
    top: 3.6em;
    left: 0px;
    right: 0px;
}

.ui-menu {
    padding: 2px !important;
}

.ui-menuitem-text {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

.menu-selected, .menu-selected>.ui-menuitem-text, .menu-selected>a>.ui-menuitem-text,
    .menu-selected {
    text-decoration: underline;
}

.logPanelHeader .ui-widget-content {
    padding: 0 !important;
}

.logPanelHeader {
    border: 0 !important;
    padding: 0 0 2px 0 !important;
}

.dialogButtonPanel {
	text-align: right;
	padding: 0;
	border: 0;	
}

.dialogButtonPanel .ui-panel-content {
    padding: 0 !important;
}

.dialogButtonPanel .ui-panel-content .ui-widget {
	padding-left: 0 !important;
    margin-top: 1ex;
    margin-left: 1ex !important;
    margin-bottom: 1ex !important;
}
