<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <p:spacer width="14"/>
    <p:commandButton value="Save configuration" action="#{detailsManager.saveConfiguration()}"
                     update="iocsForm:iocs configsForm:configs globalsForm:globals devicesForm:devices paramsForm:params"
                     disabled="#{empty configurationsManager.selectedConfig
                                 or not detailsManager.dirty
                                 or not detailsManager.configEditable}"
                     icon="ui-icon-disk"/>
    <p:spacer width="4"/>
    <p:commandButton value="Discard configuration" action="#{detailsManager.discardConfiguration()}"
                     update="iocsForm:iocs configsForm:configs globalsForm:globals devicesForm:devices paramsForm:params"
                     disabled="#{empty configurationsManager.selectedConfig
                                 or not detailsManager.dirty
                                 or not detailsManager.configEditable}"
                     oncomplete="refreshDevicesAndParams();"
                     icon="ui-icon-arrowrefresh-1-e"/>
</ui:composition>
