<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="configsForm">
        <p:outputPanel id="configs">
            <p:fieldset id="configsPanel" legend="Configurations">
                <p:dataTable id="configsTbl"
                             widgetVar="configsTbl"
                             var="config"
                             value="#{configurationsManager.configurations}"
                             selectionMode="multiple"
                             selection="#{configurationsManager.selectedConfigs}"
                             rowKey="#{config.id}"
                             rowStyleClass="#{csHelper.getStatusFor(config).rowStyle}"
                             scrollable="true"
                             styleClass="tbl_180px_max_height">
                    <p:column headerText="In Production"
                              styleClass="tbl_col_boolean"
                              filterBy="#{config.commited}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <span class="ui-icon #{config.commited ? 'ui-icon-check' : 'ui-icon-closethick'}"/>
                    </p:column>

                    <p:column headerText="IOC Name"
                              styleClass="tbl_col_slot"
                              filterBy="#{config.ioc.name}"
                              filterMatchMode="contains">
                        <p:commandLink update=":linksForm" oncomplete="PF('linksDlg').show()">
                            <h:outputText value="#{config.ioc.name}"
                                          style="color: blue; text-decoration: underline;"/>
                            <f:setPropertyActionListener target="#{linkManager.slot}" value="#{config.ioc.name}"/>
                        </p:commandLink>
                    </p:column>

                    <p:column headerText="Revision"
                              styleClass="tbl_col_rev"
                              filterBy="#{config.revision}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{config.revision}"/>
                    </p:column>

                    <p:column headerText="Date"
                              styleClass="tbl_col_date"
                              filterBy="#{config.lastEdit}"
                              filterMatchMode="contains">
                        <h:outputText value="#{config.lastEdit}"
                                      style="white-space: nowrap; overflow: hidden;">
                            <f:convertDateTime pattern="yyyy.MM.dd HH:mm:ss" />
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Description"
                              filterBy="#{config.comment}"
                              filterMatchMode="contains">
                        <h:panelGroup id="configDesc" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{config.comment}"/>
                        </h:panelGroup>
                        <p:tooltip for="configDesc" value="#{config.comment}" position="top" trackMouse="true"/>
                    </p:column>

                    <p:column headerText="User"
                              styleClass="tbl_col_user"
                              filterBy="#{config.user}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{config.user}"/>
                    </p:column>

                    <p:column headerText="Operating System"
                              styleClass="tbl_col_os"
                              filterBy="#{config.os}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                              <h:outputText value="#{config.os}" />
                    </p:column>

                    <p:column headerText="EPICS"
                              styleClass="tbl_col_epics_version"
                              filterBy="#{versionConverters.getEpicsConverter().toString(config.epicsVersion)}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{config.epicsVersion}" converter="iocfactory.EpicsVersionConverter"/>
                    </p:column>

                    <p:column headerText="Environment"
                              styleClass="tbl_col_module_version"
                              filterBy="#{config.envVersion}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{config.envVersion}"/>
                    </p:column>

                    <p:column headerText="Consistency Status"
                              style="width: 18em;"
                              filterBy="#{csHelper.getSingleLineDesc(config)}"
                              filterMatchMode="contains">
                        <h:panelGroup id="configCs" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{csHelper.getSingleLineDesc(config)}"
                                          style="white-space: nowrap; overflow: hidden;"/>
                        </h:panelGroup>
                        <p:tooltip for="configCs" position="top" trackMouse="true">
                            <h:outputText value="#{csHelper.getRenderedDesc(config)}" escape="false"/>
                        </p:tooltip>
                    </p:column>
                    <p:ajax event="rowSelect" disabled="#{detailsManager.dirty}"
                            partialSubmit="true" listener="#{detailsManager.reloadConfiguration}"
                            update="globalsForm:globalsTbl devicesForm:devicesTbl configsForm:configsBtns
                            globalsForm:globalsBtns devicesForm:devicesBtns paramsForm:paramsTbl paramsForm:paramsBtns"
                            oncomplete="refreshDevicesAndParams();"/>
                    <p:ajax event="rowUnselect"
                            partialSubmit="true" listener="#{detailsManager.reloadConfiguration}"
                            update="globalsForm:globalsTbl devicesForm:devicesTbl configsForm:configsBtns
                            globalsForm:globalsBtns devicesForm:devicesBtns paramsForm:paramsTbl paramsForm:paramsBtns"
                            oncomplete="refreshDevicesAndParams();"/>

                    <p:ajax event="rowSelect" disabled="#{!detailsManager.dirty}"
                            partialSubmit="true" oncomplete="PF('confirmSwitchDlg').show();"/>
                    <p:ajax event="rowUnselect" disabled="#{!detailsManager.dirty}"
                            partialSubmit="true" oncomplete="PF('confirmSwitchDlg').show();"/>

                </p:dataTable>

                <div style="height: 1em"/>

                <p:outputPanel id="configsBtns" style="text-align: right;">
                    <p:commandButton value="Add..."
                                     actionListener="#{configParamsManager.
                                                       prepareForAdd(iocsManager.selectedIOC)}"
                            oncomplete="PF('addConfigDlg').show();" update="addConfigForm:addConfigDlg"
                            icon="ui-icon-plus"
                            disabled="#{empty iocsManager.selectedIOC or
                                        iocsManager.selectedIOC.consistencyStatus.error or
                                        detailsManager.dirty or
                                        not configurationsManager.userCanEdit()}"/>
                    <p:spacer width="4"/>
                    <p:commandButton value="Edit..."
                                     actionListener="#{configParamsManager.
                                                       prepareForEdit(detailsManager.config)}"
                            oncomplete="PF('editConfigDlg').show();" update="editConfigForm:editConfigDlg"
                            icon="ui-icon-pencil"
                            disabled="#{not detailsManager.configEditable}"/>
                    <p:spacer width="4"/>
                    <p:commandButton value="Copy"
                                     action="#{configurationsManager.copySelectedConfig}"
                                     disabled="#{empty configurationsManager.selectedConfig or detailsManager.dirty
                                     or not configurationsManager.userCanEdit()}"
                                     icon="ui-icon-copy"
                                     update="configsForm:configsBtns"/>
                    <p:spacer width="4"/>
                    <p:commandButton value="Paste"
                                     action="#{configurationsManager.pasteConfig()}"
                                     disabled="#{empty iocsManager.selectedIOC or
                                                 iocsManager.selectedIOC.consistencyStatus.error or
                                                 empty configurationsManager.copiedConfigId or
                                                 detailsManager.dirty or not configurationsManager.userCanEdit()}"
                                     icon="ui-icon-clipboard"
                                     oncomplete="refreshAll();"/>
                    <p:spacer width="4"/>
                    <p:commandButton value="Compare..."
                                     actionListener="#{compareConfigManager.initFromConfigs(configurationsManager.selectedConfigs)}"
                                     update="compareForm:compareDlg"
                                     oncomplete="showDiffDialog();"
                                     disabled="#{(empty configurationsManager.selectedConfigs) or
                                                 not (configurationsManager.selectedConfigs.size() eq 2)}"
                                     icon="ui-icon-transfer-e-w"/>
                    <p:spacer width="4"/>
                    <p:commandButton
                            value="Delete"
                            oncomplete="PF('delConfirmDlg').show();"
                            disabled="#{empty configurationsManager.selectedConfigs or
                                        configurationsManager.selectedConfig.commited or
                                        not configurationsManager.userCanEdit()}"
                            update="deleteConfirmForm:deleteConfirmDlg"
                            icon="ui-icon-trash"/>
                </p:outputPanel>
            </p:fieldset>
        </p:outputPanel>

        <p:spacer height="30"/>
        <p:remoteCommand name="updateConfigsForm" update="configsForm"/>
    </h:form>
</ui:composition>
