<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="globalsForm">
        <p:outputPanel id="globals">
            <p:fieldset id="globalsPanel" legend="Environment">
                <p:dataTable id="globalsTbl"
                             widgetVar="globalsTbl"
                             var="global"
                             value="#{detailsManager.config.globals}"
                             selectionMode="multiple"
                             selection="#{detailsManager.selectedGlobals}"
                             rowKey="#{global.paramPosition}"
                             scrollable="true"
                             rowStyleClass="#{csHelper.getStatusFor(global).rowStyle}"
                             styleClass="#{viewOnly ? 'tbl_100px_max_height' : 'tbl_180px_max_height'}">
                    <p:column headerText="Macro"
                              styleClass="tbl_col_macro_name"
                              filterBy="#{global.name}"
                              filterMatchMode="contains">
                        <h:outputText value="#{global.name}"/>
                    </p:column>

                    <p:column headerText="Type"
                              styleClass="tbl_col_macro_type"
                              filterBy="#{global.type}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{global.type}"/>
                    </p:column>

                    <p:column headerText="Value"
                              filterBy="#{global.value}"
                              filterMatchMode="contains">
                        <h:outputText value="#{global.value}"/>
                    </p:column>

                    <p:column headerText="Expanded Value"
                              filterBy="#{expansionHelper.getSingleLineExpVal(global)}"
                              filterMatchMode="contains">
                        <h:panelGroup id="globalExp" layout="span" styleClass="ellipsis">
                             <h:outputText value="#{expansionHelper.getSingleLineExpVal(global)}"/>
                        </h:panelGroup>
                        <p:tooltip for="globalExp" position="top" trackMouse="true">
                            <h:outputText value="#{expansionHelper.getSingleLineExpVal(global)}"
                                          style="white-space: pre-wrap;"/>
                        </p:tooltip>
                    </p:column>

                    <p:column headerText="Consistency Status"
                              styleClass="tbl_col_cstatus"
                              filterBy="#{csHelper.getSingleLineDesc(global)}"
                              filterMatchMode="contains" >
                        <h:panelGroup id="globalCs" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{csHelper.getSingleLineDesc(global)}" />
                        </h:panelGroup>
                        <p:tooltip for="globalCs" position="top" trackMouse="true">
                            <h:outputText value="#{csHelper.getRenderedDesc(global)}" escape="false"/>
                        </p:tooltip>
                    </p:column>


                    <p:ajax event="rowSelect" update="globalsForm:globalsBtns"/>
                    <p:ajax event="rowUnselect" update="globalsForm:globalsBtns"/>
                </p:dataTable>

                <div style="height: 1em"/>
                <p:outputPanel id="globalsBtns" style="text-align: right;" rendered="#{not viewOnly}">
                    <p:commandButton value="Add..." icon="ui-icon-plus" action="#{globalsManager.prepareAdd}"
                                     disabled="#{not detailsManager.configEditable}"
                                     update="addGlobalForm:addGlobalDlg"
                                     oncomplete="PF('addGlobalDlg').show()"/>
                    <p:spacer width="4"/>
                    <p:commandButton value="Edit..." icon="ui-icon-pencil"
                                     action="#{globalsManager.prepareEdit(detailsManager.selectedGlobal)}"
                                     disabled="#{not detailsManager.configEditable or
                                                 empty detailsManager.selectedGlobal}"
                                     update="editGlobalForm:editGlobalDlg"
                                     oncomplete="PF('editGlobalDlg').show()"/>
                    <p:spacer width="4"/>
                    <p:commandButton value="Delete" icon="ui-icon-trash"
                                     action="#{detailsManager.deleteSelectedGlobals}"
                                     disabled="#{not detailsManager.configEditable or
                                                 empty detailsManager.selectedGlobals}"
                                     oncomplete="PF('globalsTbl').filter();"
                                     update="iocsForm:iocs configsForm:configs globalsForm:globals devicesForm:devices
                                             paramsForm:params"/>

                    <ui:include src="configButtons.xhtml"/>

                </p:outputPanel>
            </p:fieldset>

            <div style="height: 3em"/>
        </p:outputPanel>
        <p:remoteCommand name="updateGlobalsForm" update="globalsForm"/>
    </h:form>
</ui:composition>
