<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:rc="http://java.sun.com/jsf/composite/comps"
                xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="menuform">
        
        <p:menubar id="mainDropMenu">
      <f:facet name="options">
                <p:outputPanel id="globalRepoData" layout="inline" style="font-size: smaller; font-style: italic;"
                               rendered="#{loginManager.loggedIn}">

                    <h:commandLink id="repoSelectorLabel"
                                   action="#{navigationManager.fireNavigation('repoSelectLabel')}"
                                   style="#{repoStatsManager.getRepository(repositorySelector.selectedEee).
                                                hasError() ? 'color:red' : 'color:white'}">
                        <h:outputText value="#{repoStatsManager.getRepository(repositorySelector.selectedEee).
                                                hasError() ? '!!! EEE: ' : 'EEE: '}"
                                       style="#{repoStatsManager.getRepository(repositorySelector.selectedEee).
                                                hasError() ? 'color:red' : 'color:white'}"/>
                    </h:commandLink>

                    <p:selectOneMenu id="repoSelector" value="#{repositorySelector.selectedEee}"
                                     styleClass="eee-selection-menu">
                        <f:selectItems value="#{repositorySelector.eeeTypes}" var="type"
                                       itemValue="#{type}" itemLabel="#{type.name}"/>
                        <p:ajax event="change" update="menuform:repoSelectorLabel"
                                listener="#{repositorySelector.fireEvent}"/>
                    </p:selectOneMenu>

                    <p:commandButton title="Info" icon="ui-icon-help" ajax="true"
                                     update="menuform:eeeStatsDetails"
                                     styleClass="toolbar-button"
                                     oncomplete="PF('eeeStats').show('#{component.clientId}');"/>
                    <p:commandButton id="rescanRepoBtn"
                                     title="Refresh EEE" icon="ui-icon-arrowrefresh-1-w"
                                     styleClass="toolbar-button"
                                     action="#{navigationManager.fireNavigation('refresh')}"
                                     ajax="true"/>
                </p:outputPanel>
                <rc:logincomp ajax="false" />
            </f:facet>
        </p:menubar>

        <p:overlayPanel id="eeeStats" widgetVar="eeeStats" dismissable="true" >
            <p:outputPanel id="eeeStatsDetails" rendered="#{loginManager.loggedIn}">
                <h:outputText value="EEE hash: #{repoStatsManager.getRepoStats(repositorySelector.selectedEee).
                                                repoHash}"/>
                <br/>
                <h:outputText value="Last scanned: #{repoStatsManager.getRepository(repositorySelector.selectedEee).
                                                     lastScanTime}"/>
                <br/>
                <h:outputText value="Last scan user #{repoStatsManager.getRepository(repositorySelector.selectedEee).
                                                      lastScanUser}"/>
            </p:outputPanel>
            <p:hotkey bind="esc" oncomplete="PF('eeeStats').hide();"/>
        </p:overlayPanel>
    </h:form>

</ui:composition>
