<?xml version='1.0' encoding='UTF-8' ?>
<!--
* Copyright (c) 2015-2016 European Spallation Source
* Copyright (c) 2015-2016 Cosylab d.d.
*
* This file is part of IOC Factory.
*
* IOC Factory is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 2 of the License,
* or any newer version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
* FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
* details.
*
* You should have received a copy of the GNU General Public License along with
* this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <ui:insert name="metadata" />

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
        </f:facet>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>#{msgs.title}</title>

        <h:outputStylesheet name="/css/layout.css"/>
    </h:head>

    <h:body>
        <h:outputText value="#{viewScopeLifecycleObserver.dummyValue}"/>
        <p:growl id="growl" widgetVar="growl" escape="false"/>
        <p:growl id="repoChangeGrowl" widgetVar="repoChangeGrowl"
                 showDetail="true"
                 sticky="true"
                 escape="true" for="repoChangeKey"/>
                 
                
	
	<h:panelGroup id="top" class="app_header" layout="block">
            <div class="logo">
            <h:outputText value="#{msgs.title}" styleClass="gui-title"/>
	    </div>
	    
	    <div>
            <ui:include src="/template/includes/tabmenu.xhtml" />
	    </div>
	    
	    <div>
            <ui:include src="/template/includes/dropmenu.xhtml" />
	    </div>
        </h:panelGroup>
                 

        <h:panelGroup id="content-wrapper" layout="block" style="margin-top:33px;">
            <h:panelGroup id="content" layout="block" rendered="#{loginManager.loggedIn}">
                <ui:insert name="content">Content</ui:insert>
            </h:panelGroup>
        </h:panelGroup>

        <h:form id="refreshOtherRepoForm">
            <p:remoteCommand name="refreshOtherRepo"
                             action="#{repositoryProducer.refreshSessionRepository(repositorySelector.selectedEee eq 'PRODUCTION' ? 'SANDBOX' : 'PRODUCTION')}"/>
        </h:form>

        <h:panelGroup id="footer" layout="block" styleClass="footer-message">
            <h:outputText value="#{msgs.title} v#{msgs.titleVersion} - " />
            <h:outputLink rendered="#{UIPropertiesManager.supportEmail != null}"
                    value="mailto:#{UIPropertiesManager.supportEmail}?subject=#{msgs.supportEmailSubject}"
                    style="color: #A8A8A8;">
                Contact us
            </h:outputLink>
        </h:panelGroup>


        <p:dialog widgetVar="busyDlg" modal="true" draggable="false"
                  closable="false" resizable="false" showHeader="false">
            <p:graphicImage value="/resources/images/ajax-loader.gif" />
        </p:dialog>

        <p:ajaxStatus onstart="handleAjaxStart();"
                      onsuccess="handleAjaxStop();"
                      onerror="handleAjaxStop();"/>

        <h:form id="loginDialogForm">
            <p:dialog id="loginDialog" widgetVar="loginDialog" modal="true" closable="false"
                      visible="#{!loginManager.loggedIn}" resizable="false">
                <f:facet name="header">
                    <h:outputText value="Sign In" />
                </f:facet>
                <p:panelGrid id="grid" columns="2" styleClass="noBorders">
                    <p:outputLabel for="userid" value="Username" />
                    <h:panelGroup>
                        <p:inputText id="userid" value="#{loginManager.username}" label="Username" required="true" />
                        <p:watermark for="userid" value="Enter username" />
                        <p:message id="useridMsg" for="userid" />
                    </h:panelGroup>
                    <p:outputLabel for="passwd" value="Password" />
                    <h:panelGroup>
                        <p:password id="passwd" value="#{loginManager.password}" label="Password" required="true"/>
                        <p:watermark for="passwd" value="Enter password" />
                        <p:message id="passwdMsg" for="passwd" />
                    </h:panelGroup>
                </p:panelGrid>
                <p:separator />
				<p:panel styleClass="dialogButtonPanel">
	                <p:commandButton value="Sign In" update=":loginDialogForm :top :content-wrapper"
	                                 action="#{loginManager.onLogin()}"
	                                 style="float: left"/>
	            </p:panel>
            </p:dialog>
        </h:form>

        <h:form id="confirmDlgForm">
            <p:confirmDialog global="true">
                <p:commandButton value="Yes" type="button"
                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button"
                                 styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>

        <p:socket onMessage="handleRepoChange" channel="/repoChange" />

        <h:outputScript library="js" name="template.js" />
    </h:body>
</html>
