<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="#{formId}">
        <p:dialog id="#{widgetVar}"
                  widgetVar="#{widgetVar}"
                  header="#{dialogTitle}"
                  resizable="false"
                  modal="true"
                  closeOnEscape="true">
            <p:focus context="focusEnv" for="envName"/>
            <p:panelGrid layout="grid" columns="2" columnClasses="edit_dialog_left_column,edit_dialog_right_column">
                <p:outputLabel for="envName" value="Name:" />
                <p:inputText id="envName" value="#{setupEnvManager.editEnv.name}" style="width:18em;"/>

                <h:outputText value=""/>
                <p:message id="envMsg" for="envName" style="width:18em;"/>

                <p:outputLabel for="envDir" value="Directory:" />
                <p:outputPanel>
                    <p:inputText id="envDir" value="#{setupEnvManager.editEnv.directory}" style="width:18em;"/>
                    <h:outputLink id="envTooltip" value="#" styleClass="ui-icon ui-icon-help"
                                  style="display: inline-block" />
                    <p:tooltip for="envTooltip"
                               value="{iocname}, {hostname} placeholders can be used to represent the IOC convention
                               name and its hostname. {revisionnumber} placeholder can be used to represent the
                               configuration revision number."
                               position="top"
                               trackMouse="true"/>
                </p:outputPanel>

                <p:outputLabel for="envProd" value="Is Production:" />
                <p:selectBooleanCheckbox id="envProd" value="#{setupEnvManager.editEnv.production}"/>

                <p:outputLabel for="eeeType" value="EEE Type:" />
                <p:selectOneMenu id="eeeType" value="#{setupEnvManager.editEnv.eeeType}" style="width: calc(18em - 26px);">
                    <f:selectItems value="#{repositorySelector.eeeTypes}" var="type"
                                   itemValue="#{type}" itemLabel="#{type.name}"/>
                </p:selectOneMenu>
            </p:panelGrid>
            <f:facet name="footer">
				<p:panel styleClass="dialogButtonPanel">
	                <p:commandButton action="#{setupEnvManager.addIOCEnvironment()}"
	                                 value="Add" icon="ui-icon-plus"
	                                 oncomplete="handleAddRequest(xhr, status, args);"
	                                 update="setupForm:iocEnvs envMsg"
	                                 rendered="#{isAdd}">
	                </p:commandButton>
	                <p:commandButton action="#{setupEnvManager.saveIOCEnvironment()}"
	                                 value="Save" icon="ui-icon-disk"
	                                 oncomplete="handleEditRequest(xhr, status, args);"
	                                 update="setupForm:iocEnvs envMsg"
	                                 rendered="#{not isAdd}">
	                </p:commandButton>
				</p:panel>
            </f:facet>
        </p:dialog>
    </h:form>
</ui:composition>