<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <p:dataTable id="verifyMsgsTbl"
                 widgetVar="verifyMsgsTbl"
                 var="msg"
                 value="#{generateManager.verifyMessages}"
                 editable="false"
                 scrollable="true"
                 scrollHeight="400"
                 rowStyleClass="#{csHelper.getStatusFor(msg).rowStyle}">

        <p:column headerText="IOC Name"
                  styleClass="tbl_col_slot"
                  filterBy="#{msg.iocName}"
                  filterMatchMode="contains">
            <h:outputText value="#{msg.iocName}"/>
        </p:column>

        <p:column headerText="Revision"
                  styleClass="tbl_col_rev"
                  filterBy="#{msg.revision}"
                  filterMatchMode="contains"
                  filterStyle="width: 90%;">
            <h:outputText value="#{msg.revision}"/>
        </p:column>

        <p:column headerText="Category"
                  styleClass="tbl_col_verify_category"
                  filterBy="#{msg.category}"
                  filterMatchMode="contains"
                  filterStyle="width: 90%;">
            <h:outputText value="#{msg.category}"/>
        </p:column>

        <p:column headerText="Severity"
                  styleClass="tbl_col_verify_type"
                  filterBy="#{msg.level}"
                  filterMatchMode="contains"
                  filterStyle="width: 90%;">
            <h:outputText value="#{msg.level}"/>
        </p:column>

        <p:column headerText="Description"
                  filterBy="#{msg.desc}"
                  filterMatchMode="contains">
            <h:outputText value="#{msg.desc}"/>
        </p:column>
    </p:dataTable>
</ui:composition>