<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <!-- Fake structure to simulate configure.xhtml render targets -->
    <h:panelGroup style="display: none;">
        <h:form id="iocsForm">
            <h:panelGroup id="iocs"/>
            <h:panelGroup id="iocsTbl"/>
            <h:panelGroup id="iocsBtns"/>
        </h:form>
        <h:form id="configsForm">
            <h:panelGroup id="configsTbl"/>
            <h:panelGroup id="configsBtns"/>
        </h:form>
    </h:panelGroup>

    <p:dialog id="configDetailsDlg"
              widgetVar="configDetailsDlg"
              resizable="false" modal="true"
              header="Configuration Details"
              closeOnEscape="true">
        <h:panelGroup layout="block" style="height: 80vh;">
            <h:panelGroup layout="block" style="width: 85vw; overflow-y:auto; overflow-x: hidden;">
                <ui:include src="../configure/globals.xhtml"><ui:param name="viewOnly" value="true"/></ui:include>
                <ui:include src="../configure/devices.xhtml"><ui:param name="viewOnly" value="true"/></ui:include>
                <ui:include src="../configure/params.xhtml"><ui:param name="viewOnly" value="true"/></ui:include>
            </h:panelGroup>
        </h:panelGroup>
    </p:dialog>

    <ui:include src="../dialogs/previewdialog.xhtml" >
        <ui:param name="formId" value="previewForm" />
        <ui:param name="widgetVar" value="previewDlg" />
        <ui:param name="dialogTitle" value="#{textManager.header}" />
        <ui:param name="text" value="#{textManager.text}" />
    </ui:include>
</ui:composition>