<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="#{formId}">
        <p:dialog id="#{widgetVar}"
                  widgetVar="#{widgetVar}"
                  resizable="false" modal="true"
                  header="#{dialogTitle}"
                  closeOnEscape="true">
            <p:panelGrid columns="1" layout="grid">

                <h:outputLabel value="env.sh:"/>
                <h:inputTextarea style="width: 45vw; height: 10em; font-family: monospace; overflow-y: auto;
                                 resize: none;"
                                 readonly="true"
                                 value="#{env}"/>

		        <p:spacer height="8"/>
                <h:outputLabel value="st.cmd:"/>
                <h:inputTextarea style="width: 45vw; height: 60vh; font-family: monospace; overflow-y: auto;
                                 resize: none;"
                                 readonly="true"
                                 value="#{st}"/>
            </p:panelGrid>
        </p:dialog>
    </h:form>
</ui:composition>