<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2015-2016 European Spallation Source
 * Copyright (c) 2015-2016 Cosylab d.d.
 *
 * This file is part of IOC Factory.
 *
 * IOC Factory is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 2 of the License,
 * or any newer version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                template="/template/template.xhtml">

    <ui:define name="content">
        <h:form id="entriesForm">
            <p:fieldset legend="IOCs" style="width: calc(100vw - 3em);">
                <p:dataTable id="entriesTbl"
                             widgetVar="entriesTbl"
                             var="entry"
                             value="#{auditManager.auditEntries}"
                             selectionMode="single"
                             selection="#{auditManager.selectedEntry}"
                             rowKey="#{entry.id}"
                             scrollable="true"
                             rowStyleClass="#{csHelper.getStatusFor(entry).rowStyle}"
                             style="height: calc(92vh - 11.5em);">

                    <p:column headerText="IOC Name"
                              styleClass="tbl_col_slot"
                              filterBy="#{entry.iocName}"
                              filterMatchMode="contains">
                        <p:commandLink update=":linksForm" oncomplete="PF('linksDlg').show()">
                            <h:outputText value="#{entry.iocName}"
                                          style="color: blue; text-decoration: underline;"/>
                            <f:setPropertyActionListener target="#{linkManager.slot}" value="#{entry.iocName}"/>
                        </p:commandLink>
                    </p:column>

                    <p:column headerText="Operating System"
                              styleClass="tbl_col_os"
                              filterBy="#{entry.ioc.os}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{entry.ioc.os}" />
                    </p:column>

                    <p:column headerText="Hostname"
                              styleClass="tbl_col_slot"
                              filterBy="#{entry.ioc.hostname}"
                              filterMatchMode="contains">
                        <h:outputText value="#{entry.ioc.hostname}"
                                      style="white-space: nowrap; overflow: hidden;"/>
                    </p:column>

                    <p:column headerText="Environment"
                              styleClass="tbl_col_env_name"
                              filterBy="#{entry.environment}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{entry.environment}" />
                    </p:column>


                    <p:column headerText="Revision"
                              styleClass="tbl_col_rev"
                              filterBy="#{entry.generateEntry.configRevision}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{entry.generateEntry.configRevision}"/>
                    </p:column>

                    <p:column headerText="Is Production"
                              styleClass="tbl_col_boolean"
                              filterBy="#{entry.generateEntry.production}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <span class="ui-icon #{entry.generateEntry.production ?
                                               'ui-icon-check' : 'ui-icon-closethick'}"/>
                    </p:column>

                    <p:column headerText="Directory"
                              filterBy="#{entry.generateEntry.targetPath}"
                              filterMatchMode="contains">
                        <h:panelGroup id="targetPath" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{entry.generateEntry.targetPath}"/>
                        </h:panelGroup>
                        <p:tooltip for="targetPath" position="top"
                                   value="#{entry.generateEntry.targetPath}" trackMouse="true"/>
                    </p:column>

                    <p:column headerText="Last Modified on Disk"
                              styleClass="tbl_col_timestamp"
                              filterBy="#{entry.diskModificationTime}"
                              filterMatchMode="contains">
                        <h:outputText value="#{entry.diskModificationTime}">
                            <f:convertDateTime pattern="yyyy.MM.dd HH:mm:ss" />
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Consistency Status"
                              styleClass="tbl_col_cstatus"
                              filterBy="#{csHelper.getSingleLineDesc(entry)}"
                              filterMatchMode="contains">
                        <h:panelGroup id="iocCs" styleClass="ellipsis" layout="span">
                            <h:outputText value="#{csHelper.getSingleLineDesc(entry)}"/>
                        </h:panelGroup>
                        <p:tooltip for="iocCs" position="top"
                                   trackMouse="true">
                            <h:outputText value="#{csHelper.getRenderedDesc(entry)}" escape="false"/>
                        </p:tooltip>
                    </p:column>

                    <p:ajax event="rowSelect"  partialSubmit="true" update="entriesForm:entriesBtns"/>
                    <p:ajax event="rowUnselect"  partialSubmit="true" update="entriesForm:entriesBtns"/>

                </p:dataTable>

                <div style="height: 1em"/>

                <p:outputPanel id="entriesBtns" style="text-align: right;">
                    <p:commandButton value="Compare..."
                                     actionListener="#{auditManager.prepareDualCompareDialog()}"
                                     update="dualCompareForm:dualCompareDlg"
                                     oncomplete="showDualDiffDialog(xhr, status, args);"
                                     disabled="#{(empty auditManager.selectedEntry) or
                                                 not (auditManager.selectedEntry.configDifferent)}"
                                     icon="ui-icon-transfer-e-w"/>

                    <p:commandButton value="Restore..."
                                     action="#{auditManager.restoreConfiguration()}"
                                     update="entriesForm:entriesTbl"
                                     disabled="#{(empty auditManager.selectedEntry) or not (auditManager.selectedEntry.configDifferent)}"
                                     icon="ui-icon-arrowrefresh-1-e"
                                     style="margin-left: 1em;">
                         <p:confirm header="Restore Confirmation"
                                   message="This will overwrite the local IOC changes with the saved configuration from IOC Factory. Proceed?"
                                   icon="ui-icon-alert" />
                    </p:commandButton>
                </p:outputPanel>
            </p:fieldset>
            <p:remoteCommand name="updateAuditEntriesForm" update="entriesForm"/>
        </h:form>

        <ui:include src="./dialogs/dualcomparedialog.xhtml" />
        <ui:include src="./dialogs/linkdialog.xhtml" />

        <h:outputStylesheet name="/css/custom.css"/>
    </ui:define>
</ui:composition>