<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2015-2016 European Spallation Source
 * Copyright (c) 2015-2016 Cosylab d.d.
 *
 * This file is part of IOC Factory.
 *
 * IOC Factory is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 2 of the License,
 * or any newer version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
    template="/template/template.xhtml">
    <ui:define name="content">
        <h:form id="entriesForm">
            <p:fieldset legend="Historical Deployments" style="width: calc(100vw - 4em);">
                <p:dataTable id="entriesTbl"
                             widgetVar="entriesTbl"
                             var="entry"
                             value="#{browseManager.geLazyEntires}"
                             selectionMode="multiple"
                             selection="#{browseManager.selectedEntries}"
                             rowKey="#{entry.id}"
                             lazy="true"
                             scrollable="true"
                             liveScroll="true"
                             scrollRows="50"
                             rowStyleClass="#{csHelper.getStatusFor(entry).rowStyle}"
                             style="height: calc(92vh - 11.5em);">
                    <p:ajax event="filter" onstart="resetTableAllLoadedState();" />
                    <p:ajax event="sort" onstart="resetTableAllLoadedState();" />
                    <p:column headerText="IOC Name" styleClass="tbl_col_slot" filterBy="#{entry.iocName}" filterMatchMode="contains"
                        sortBy="#{entry.iocName}">
                        <p:commandLink update=":linksForm" oncomplete="PF('linksDlg').show()">
                            <h:outputText value="#{entry.iocName}" style="color: blue; text-decoration: underline;" />
                            <f:setPropertyActionListener target="#{linkManager.slot}" value="#{entry.iocName}" />
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Operating System" styleClass="tbl_col_os" filterBy="#{entry.os}" filterMatchMode="contains"
                        filterStyle="width: 90%;" sortBy="#{entry.os}">
                        <h:outputText value="#{entry.os}" />
                    </p:column>
                    <p:column headerText="Hostname" styleClass="tbl_col_slot" filterBy="#{entry.hostname}" filterMatchMode="contains">
                        <h:outputText value="#{entry.hostname}" style="white-space: nowrap; overflow: hidden;" />
                    </p:column>
                    <p:column headerText="Revision" styleClass="tbl_col_rev" filterBy="#{entry.configRevision}"
                        filterMatchMode="contains" filterStyle="width: 90%;">
                        <h:outputText value="#{entry.configRevision}" />
                    </p:column>
                    <p:column headerText="User" styleClass="tbl_col_user" filterBy="#{entry.user}" filterMatchMode="contains"
                        filterStyle="width: 90%;">
                        <h:outputText value="#{entry.user}" />
                    </p:column>
                    <p:column headerText="Date" styleClass="tbl_col_date" filterBy="#{entry.generatedDate}" filterMatchMode="contains">
                        <h:outputText value="#{entry.generatedDate}" style="white-space: nowrap; overflow: hidden;">
                            <f:convertDateTime pattern="yyyy.MM.dd HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Environment" styleClass="tbl_col_env_name" filterBy="#{entry.environment}"
                        filterMatchMode="contains" filterStyle="width: 90%;">
                        <h:outputText value="#{entry.environment}" style="white-space: nowrap; overflow: hidden;" />
                    </p:column>
                    <p:column headerText="Is Production" styleClass="tbl_col_boolean" filterBy="#{entry.production}"
                        filterMatchMode="equals" filterStyle="width: 90%;">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('entriesTbl').filter()" >
                                <f:selectItem></f:selectItem>
                                <f:selectItem itemLabel="✔" itemValue="true"/>
                                <f:selectItem itemLabel="✖" itemValue="false"/>
                            </p:selectOneMenu>
                        </f:facet>
                        <span class="ui-icon #{entry.production ? 'ui-icon-check' : 'ui-icon-closethick'}" />
                    </p:column>
                    <p:column headerText="Directory" filterBy="#{entry.targetPath}" filterMatchMode="contains" filterStyle="width: 90%;">
                        <h:panelGroup id="targetPath" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{entry.targetPath}" />
                        </h:panelGroup>
                        <p:tooltip for="targetPath" position="top" value="#{entry.targetPath}" trackMouse="true" />
                    </p:column>
                    <p:column headerText="Description" filterBy="#{entry.desc}" filterMatchMode="contains" filterStyle="width: 90%;">
                        <h:panelGroup id="desc" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{entry.desc}" />
                        </h:panelGroup>
                        <p:tooltip for="desc" position="top" value="#{entry.desc}" trackMouse="true" />
                    </p:column>
                    <p:column headerText="Consistency Status" styleClass="tbl_col_cstatus" filterBy="#{configDiff}"
                        filterMatchMode="contains">
                        <f:facet name="filter" style="width:140px">
                            <p:selectOneMenu onchange="PF('entriesTbl').filter()" id="configurationDiffer" style="width:140px">
                                <f:selectItem></f:selectItem>
                                <f:selectItems value="#{browseManager.consistStatusList}" />
                            </p:selectOneMenu>
                        </f:facet>
                        <h:panelGroup id="entryCs" styleClass="ellipsis" layout="span">
                            <h:outputText value="#{csHelper.getSingleLineDesc(entry)}" />
                        </h:panelGroup>
                        <p:tooltip for="entryCs" position="top" trackMouse="true">
                            <h:outputText value="#{csHelper.getRenderedDesc(entry)}" escape="false" />
                        </p:tooltip>
                    </p:column>
                    <p:ajax event="rowSelect" partialSubmit="true" update="entriesForm:entriesBtns" />
                    <p:ajax event="rowUnselect" partialSubmit="true" update="entriesForm:entriesBtns" />
                </p:dataTable>
                <div style="height: 1em" />
                <p:outputPanel id="entriesBtns" style="text-align: right;">
                    <p:commandButton value="Details..."
                        actionListener="#{textManager.initFromGenerateEntry(browseManager.selectedEntries.get(0))}"
                        update="configDetailsForm:configDetailsDlg" oncomplete="PF('configDetailsDlg').show();"
                        disabled="#{(empty browseManager.selectedEntries) or  not (browseManager.selectedEntries.size() eq 1)}"
                        icon="ui-icon-document" />
                    <p:spacer width="4" />
                    <p:commandButton value="Compare against saved..."
                        actionListener="#{compareConfigManager.initFromEntry(browseManager.selectedEntries.get(0))}"
                        update="compareForm:compareDlg" oncomplete="showDiffDialog();"
                        disabled="#{(empty browseManager.selectedEntries) or  not (browseManager.selectedEntries.size() eq 1) or
                                      csChecker.configDeleted(browseManager.selectedEntries.get(0)) or not csChecker.configDiffers(browseManager.selectedEntries.get(0))}"
                        icon="ui-icon-transferthick-e-w" />
                    <p:spacer width="4" />
                    <p:commandButton value="Compare..."
                        actionListener="#{compareConfigManager.initFromEntries(browseManager.selectedEntries)}"
                        update="compareForm:compareDlg" oncomplete="showDiffDialog();"
                        disabled="#{(empty browseManager.selectedEntries) or
                                                     not (browseManager.selectedEntries.size() eq 2)}"
                        icon="ui-icon-transfer-e-w" />
                </p:outputPanel>
            </p:fieldset>
            <p:remoteCommand name="updateBrowseEntriesForm" update="entriesForm"/>
        </h:form>
        <ui:include src="./dialogs/linkdialog.xhtml" />
        <ui:include src="./dialogs/comparedialog.xhtml" />
        <ui:include src="./dialogs/previewdialog.xhtml">
            <ui:param name="formId" value="configDetailsForm" />
            <ui:param name="widgetVar" value="configDetailsDlg" />
            <ui:param name="dialogTitle" value="Configuration Details" />
            <ui:param name="text" value="#{textManager.text}" />
        </ui:include>
        <h:outputStylesheet name="/css/custom.css" />
    </ui:define>
</ui:composition>