<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2015-2016 European Spallation Source
 * Copyright (c) 2015-2016 Cosylab d.d.
 *
 * This file is part of IOC Factory.
 *
 * IOC Factory is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 2 of the License,
 * or any newer version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                template="/template/template.xhtml">

    <ui:define name="content">
        <h:outputStylesheet name="/css/custom.css"/>
        <h:form id="generateForm">
            <p:outputPanel id="iocsPanel" style="width: calc(100vw - 1em);">
                <p:fieldset legend="IOCs">
                    <p:dataTable id="iocTbl"
                                 widgetVar="iocTbl"
                                 var="ioc"
                                 value="#{generateManager.iocs}"
                                 selectionMode="multiple"
                                 selection="#{generateManager.selectedIocs}"
                                 rowKey="#{ioc.name}"
                                 scrollable="true"
                                 rowStyleClass="#{csHelper.getStatusFor(ioc).rowStyle}"
                                 style="height: calc(42vh - 7em)">
                        <p:column headerText="IOC Name"
                                  styleClass="tbl_col_slot"
                                  filterBy="#{ioc.name}"
                                  filterMatchMode="contains">
                            <p:commandLink update=":linksForm" oncomplete="PF('linksDlg').show()">
                                <h:outputText value="#{ioc.name}" style="color: blue; text-decoration: underline;"/>
                                <f:setPropertyActionListener target="#{linkManager.slot}" value="#{ioc.name}"/>
                            </p:commandLink>
                        </p:column>
                        <p:column headerText="Operating System"
                                  styleClass="tbl_col_os"
                                  filterBy="#{ioc.os}"
                                  filterMatchMode="contains"
                                  filterStyle="width: 90%;">
                            <h:outputText value="#{ioc.os}" />
                        </p:column>
                        <p:column headerText="Hostname"
                                  styleClass="tbl_col_slot"
                                  filterBy="#{ioc.hostname}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{ioc.hostname}" />
                        </p:column>
                        <p:column headerText="Description"
                                  filterBy="#{ioc.desc}"
                                  filterMatchMode="contains">
                            <h:panelGroup id="iocDesc" layout="span" styleClass="ellipsis">
                                <h:outputText value="#{ioc.desc}"/>
                            </h:panelGroup>
                            <p:tooltip for="iocDesc" value="#{ioc.desc}" position="top" trackMouse="true"/>
                        </p:column>
                        <p:ajax event="rowSelect"
                                listener="#{generateManager.clearConfigSelection()}"
                                update="generateForm:configPanel"
                                partialSubmit="true"
                                oncomplete="PF('configTbl').filter();"/>
                        <p:ajax event="rowUnselect"
                                listener="#{generateManager.clearConfigSelection()}"
                                update="generateForm:configPanel"
                                partialSubmit="true"
                                oncomplete="PF('configTbl').filter();"/>
                    </p:dataTable>
                </p:fieldset>
            </p:outputPanel>

            <p:spacer height="30"/>

            <p:outputPanel id="configPanel" style="width: calc(100vw - 1em);">
                <p:fieldset legend="Configurations">
                    <p:dataTable id="configTbl"
                                 widgetVar="configTbl"
                                 var="config"
                                 value="#{generateManager.configurations}"
                                 selectionMode="multiple"
                                 selection="#{generateManager.selectedConfigs}"
                                 rowKey="#{config.id}"
                                 scrollable="true"
                                 style="height: calc(42vh - 7em);">
                        <p:column headerText="In Production"
                                  styleClass="tbl_col_boolean"
                                  filterBy="#{config.commited}"
                                  filterMatchMode="contains"
                                  filterStyle="width: 90%;">
                            <span class="ui-icon #{config.commited ? 'ui-icon-check' : 'ui-icon-closethick'}"/>
                        </p:column>

                        <p:column headerText="IOC Name"
                                  styleClass="tbl_col_slot"
                                  filterBy="#{config.ioc.name}"
                                  filterMatchMode="contains">
                            <p:commandLink update=":linksForm" oncomplete="PF('linksDlg').show()">
                                <h:outputText value="#{config.ioc.name}"
                                              style="color: blue; text-decoration: underline;"/>
                                <f:setPropertyActionListener target="#{linkManager.slot}" value="#{config.ioc.name}"/>
                            </p:commandLink>
                        </p:column>

                        <p:column headerText="Revision"
                                  styleClass="tbl_col_rev"
                                  filterBy="#{config.revision}"
                                  filterMatchMode="contains"
                                  filterStyle="width: 90%;">
                            <h:outputText value="#{config.revision}"/>
                        </p:column>

                        <p:column headerText="Date"
                                  styleClass="tbl_col_date"
                                  filterBy="#{config.lastEdit}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{config.lastEdit}">
                                <f:convertDateTime pattern="yyyy.MM.dd HH:mm:ss" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Description"
                                  filterBy="#{config.comment}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{config.comment}"/>
                        </p:column>

                        <p:column headerText="User"
                                  styleClass="tbl_col_user"
                                  filterBy="#{config.user}"
                                  filterMatchMode="contains"
                                  filterStyle="width: 90%;">
                            <h:outputText value="#{config.user}"/>
                        </p:column>

                        <p:column headerText="Operating System"
                                  styleClass="tbl_col_os"
                                  filterBy="#{config.os}"
                                  filterMatchMode="contains"
                                  filterStyle="width: 90%;">
                            <h:outputText value="#{config.os}"/>
                        </p:column>

                        <p:column headerText="EPICS"
                                  styleClass="tbl_col_epics_version"
                                  filterBy="#{versionConverters.getEpicsConverter().toString(config.epicsVersion)}"
                                  filterMatchMode="contains"
                                  filterStyle="width: 90%;">
                            <h:outputText value="#{config.epicsVersion}"
                                          converter="iocfactory.EpicsVersionConverter"/>
                        </p:column>

                        <p:ajax event="rowSelect"
                                update="generateForm:configBtns"/>
                        <p:ajax event="rowUnselect"
                                update="generateForm:configBtns"/>
                    </p:dataTable>

                    <div style="height: 1em"/>

                    <p:outputPanel id="configBtns" style="text-align: right;">
                        <p:commandButton value="Details"
                                         actionListener="#{detailsManager.
                                                           initWithConfiguration(generateManager.selectedConfigs.get(0))}"
                                         update="configDetailsDlg"
                                         oncomplete="PF('configDetailsDlg').show();"
                                         disabled="#{empty generateManager.selectedConfigs or
                                                     generateManager.selectedConfigs.size() ne 1}"
                                         icon="ui-icon-document"/>
                        <p:spacer width="4em"/>

                        <p:commandButton value="Compare"
                                         actionListener="#{compareConfigManager.initFromConfigs(generateManager.selectedConfigs)}"
                                         update="compareForm:compareDlg"
                                         oncomplete="showDiffDialog();"
                                         disabled="#{empty generateManager.selectedConfigs or generateManager.selectedConfigs.size() ne 2}"
                                         icon="ui-icon-transfer-e-w"/>
                        <p:spacer width="4em"/>
                        <p:commandButton value="Export" icon="ui-icon-disk"
                                         disabled="true"/>
<!--                                         disabled="#{empty generateManager.selectedConfigs or generateManager.selectedConfigs.size() lt 1}"-->
                        <p:spacer width="4em"/>
                        <p:commandButton value="Verify" icon="ui-icon-circle-check"
                                         disabled="#{empty generateManager.selectedConfigs or
                                                     generateManager.selectedConfigs.size() lt 1}"
                                         update="selectEnvForm:selectEnvDlg" oncomplete="PF('selectEnvDlg').show();"/>

                        <p:spacer width="4em"/>
                        <p:commandButton value="Preview" icon="ui-icon-search"
                                         actionListener="#{generateManager.preview()}"
                                         disabled="#{empty generateManager.selectedConfigs or generateManager.selectedConfigs.size() ne 1}"
                                         update="generatePreviewForm:generatePreviewDlg"/>
                        <p:spacer width="4em"/>
                        <p:commandButton value="Generate" icon="ui-icon-gear"
                                         actionListener="#{generateManager.prepareAndCheckConfigs()}"
                                         update="confirmForm:confirmDlg"
                                         disabled="#{not generateManager.canGenerate() or
                                                     empty generateManager.selectedConfigs}"
                                         />
                        <p:spacer width="12em"/>

                    </p:outputPanel>
                </p:fieldset>
            </p:outputPanel>
            <p:remoteCommand name="updateGenerateForm" update="generateForm"/>
        </h:form>

        <!--
           GENERATE CONFIRM DIALOG
        -->
        <h:form id="confirmForm">
            <p:dialog id="confirmDlg"
                      widgetVar="confirmDlg"
                      header="Configurations" resizable="false" modal="true">
                <h:panelGroup layout="block" style="width: 80vw; height: 80vh">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="env" value="Environment:"/>
                        <p:selectOneMenu id="env" value="#{generateManager.selectedEnv}"
                                         converter="omnifaces.SelectItemsConverter" style="width: calc(100% - 26px);">
                            <f:selectItems value="#{generateManager.envs}"/>
                            <p:ajax event="change" update="confirmForm:verifyTable"
                                    listener="#{generateManager.verifyLastConfigs()}"/>
                        </p:selectOneMenu>

                        <p:outputLabel for="desc" value="Description:"/>
                        <p:inputTextarea id="desc" value="#{generateManager.desc}" style="width: 20em;"/>
                    </h:panelGrid>
                    <div style="height: 1em"/>
                    <h:panelGrid columns="2">
                        <span class="ui-dialog-message ui-messages-info-icon"/>
                        <h:outputText escape="false" value="#{generateManager.getGenerateMessage()}" />
                    </h:panelGrid>
                    
                    <div style="height: 2em"/>

                    <p:fieldset id="verifyTable" legend="Verification messages:" style="width: calc(100% - 3em);">
                        <ui:include src="./dialogs/generate/verifytable.xhtml"/>
                    </p:fieldset>
                     
                </h:panelGroup>

                <f:facet name="footer">
					<p:panel styleClass="dialogButtonPanel">
                        <p:commandButton value="Ok" icon="ui-icon-check"
                                         action="#{generateManager.generate}"
                                         update="generateForm:iocTbl generateForm:configTbl generateForm:configBtns"
                                         oncomplete="PF('confirmDlg').hide(); PF('configTbl').filter();"/>
                        <p:commandButton value="Cancel" type="button" icon="ui-icon-close"
                                         onclick="PF('confirmDlg').hide()" />
		            </p:panel>
                </f:facet>
            </p:dialog>
        </h:form>

        <h:form id="selectEnvForm">
            <p:dialog id="selectEnvDlg"
                      widgetVar="selectEnvDlg"
                      header="Please Select Deployment Environment"
                      resizable="false"
                      modal="true"
                      closeOnEscape="true">
                <h:panelGrid columns="2">
                    <p:outputLabel for="env" value="Environment:"/>
                    <p:selectOneMenu id="env" value="#{generateManager.selectedEnv}"
                                     converter="omnifaces.SelectItemsConverter" style="width: calc(100% - 26px);">
                        <f:selectItems value="#{generateManager.envs}"/>
                    </p:selectOneMenu>

                </h:panelGrid>
                <div style="height: 1em"/>
                <f:facet name="footer">
					<p:panel styleClass="dialogButtonPanel">
                        <p:commandButton value="Ok" icon="ui-icon-check"
                                         action="#{generateManager.verify}"
                                         update="verifyForm:verifyDlg"
                                         oncomplete="PF('selectEnvDlg').hide(); PF('verifyDlg').show();"/>
                        <p:commandButton value="Cancel" type="button" icon="ui-icon-close"
                                         onclick="PF('selectEnvDlg').hide()" />
		            </p:panel>
                </f:facet>
            </p:dialog>
        </h:form>

        <h:form id="verifyForm">
            <p:dialog id="verifyDlg"
                      widgetVar="verifyDlg"
                      resizable="false" modal="true"
                      header="Verification Messages"
                      closeOnEscape="true">
                <h:panelGroup layout="block" style="width: 80vw;">
                    <ui:include src="./dialogs/generate/verifytable.xhtml"/>
                </h:panelGroup>

                <f:facet name="footer">
					<p:panel styleClass="dialogButtonPanel">
	                    <p:commandButton value="Close" icon="ui-icon-closethick" onclick="PF('verifyDlg').hide();"/>
		            </p:panel>
                </f:facet>
            </p:dialog>
        </h:form>


        <ui:include src="./dialogs/detailsdialog.xhtml"/>

        <ui:include src="./dialogs/generatepreviewdialog.xhtml" >
            <ui:param name="formId" value="generatePreviewForm" />
            <ui:param name="widgetVar" value="generatePreviewDlg" />
            <ui:param name="dialogTitle" value="Preview" />
            <ui:param name="env" value="#{generateManager.previewEnv}" />
            <ui:param name="st" value="#{generateManager.previewSt}" />
        </ui:include>

        <ui:include src="./dialogs/comparedialog.xhtml" />

        <ui:include src="./dialogs/linkdialog.xhtml" />

        <ui:include src="./dialogs/previewdialog.xhtml" >
            <ui:param name="formId" value="snippetDetailsForm" />
            <ui:param name="widgetVar" value="snippetDetailsDlg" />
            <ui:param name="dialogTitle" value="#{textManager.header}" />
            <ui:param name="text" value="#{textManager.text}" />
        </ui:include>

        <h:outputStylesheet name="/css/custom.css"/>
    </ui:define>
</ui:composition>