<?xml version="1.0" encoding="UTF-8"?>
<!--
* Copyright (c) 2015-2016 European Spallation Source
* Copyright (c) 2015-2016 Cosylab d.d.
*
* This file is part of IOC Factory.
*
* IOC Factory is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 2 of the License,
* or any newer version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
* FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
* details.
*
* You should have received a copy of the GNU General Public License along with
* this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">

    <ui:define name="content">
        <h:form id="setupForm">
            <p:fieldset legend="General" style="height: calc(100% - 2em);">
                <p:panelGrid id="panelEPICS" layout="grid" columns="2"
                             columnClasses="left_column,right_column">
                    <h:outputLabel value="EEE Production Directory:" />
                    <h:panelGroup layout="block">
                        <p:inputText value="#{setupManager.setup.epicsBaseDirectory}"
                                     readonly="#{not setupManager.canAdminister()}"
                                     style="width:20em"/>
                         <p:commandButton title="Info" icon="ui-icon-help" ajax="true"
                                     update="prodStatsForm:prodStats"
                                     styleClass="toolbar-button"
                                     oncomplete="PF('prodStats').show('#{component.clientId}');"/>
                         <p:commandButton title="EEE structure..." icon="ui-icon-arrowthick-1-s"
                                          styleClass="toolbar-button"
                                          action="#{repoStatsManager.initStructureView('PRODUCTION')}"
                                          update="prodStructureForm:prodStructure"
                                          oncomplete="PF('prodStructure').show();"/>
                         <p:commandButton id="prodMessagesButton"
                                          title="#{repoStatsManager.getRepository('PRODUCTION').hasError() ?
                                              'Messages (!)...' : 'Messages...'}"
                                          icon="ui-icon-note" styleClass="toolbar-button"
                                          update="prodMessagesForm:prodMessages"
                                          oncomplete="PF('prodMessages').show();"/>
                    </h:panelGroup>

                    <h:outputLabel value="EEE Sandbox Directory:" />
                    <h:panelGroup layout="block">
                        <p:inputText value="#{setupManager.setup.sandboxBaseDirectory}"
                                     readonly="#{not setupManager.canAdminister()}"
                                     style="width:20em"/>
                        <p:commandButton title="Info" icon="ui-icon-help" ajax="true"
                                     update="sboxStatsForm:sboxStats"
                                     styleClass="toolbar-button"
                                     oncomplete="PF('sboxStats').show('#{component.clientId}');"/>
                        <p:commandButton title="EEE structure..." icon="ui-icon-arrowthick-1-s"
                                         styleClass="toolbar-button"
                                         action="#{repoStatsManager.initStructureView('SANDBOX')}"
                                         update="sboxStructureForm:sboxStructure"
                                         oncomplete="PF('sboxStructure').show();" />
                        <p:commandButton id="sandboxMessagesButton"
                                         title="#{repoStatsManager.getRepository('SANDBOX').hasError() ?
                                              'Messages (!)...' : 'Messages...'}"
                                         icon="ui-icon-note" styleClass="toolbar-button"
                                         update="sboxMessagesForm:sboxMessages"
                                         oncomplete="PF('sboxMessages').show();"/>
                    </h:panelGroup>

                    <h:outputLabel value="CCDB IOC Device Type:"/>
                    <p:inputText value="#{setupManager.setup.iocDeviceTypes}"
                                 style="width:20em"
                                 readonly="#{not setupManager.canAdminister()}"/>

                    <h:outputLabel value="CCDB OS Property:"/>
                    <p:inputText value="#{setupManager.setup.ccdbOsProperty}"
                                 style="width:20em"
                                 readonly="#{not setupManager.canAdminister()}"/>

                    <h:outputLabel value="CCDB Module Property:"/>
                    <p:inputText value="#{setupManager.setup.ccdbDependencyPropery}"
                                 style="width:20em"
                                 readonly="#{not setupManager.canAdminister()}"/>

                    <h:outputLabel value="CCDB Snippet Property:"/>
                    <p:inputText value="#{setupManager.setup.ccdbSnippetProperty}"
                                 style="width:20em"
                                 readonly="#{not setupManager.canAdminister()}"/>

                    <h:outputLabel value="CCDB Hostname Property:"/>
                    <p:inputText value="#{setupManager.setup.ccdbHostnameProperty}"
                                 style="width:20em"
                                 readonly="#{not setupManager.canAdminister()}"/>
                </p:panelGrid>

                <div style="height: 1em"/>

                <p:outputPanel style="text-align: right;">
                    <p:commandButton actionListener="#{setupManager.saveConfiguration}" value="Save"
                                     icon="ui-icon-disk"
                                     disabled="#{not setupManager.canAdminister()}"/>
                </p:outputPanel>
            </p:fieldset>

            <div style="height: 3em"/>

            <!--Deployment Environments-->
            <p:fieldset id="iocEnvs" legend="Deployment Environments" style="height: calc(100% - 2em);">
                <p:dataTable var="env"
                             value="#{setupEnvManager.envs}"
                             selectionMode="multiple"
                             selection="#{setupEnvManager.selectedEnvs}"
                             rowKey="#{env.name}"
                             widgetVar="cellEnv">

                    <p:column headerText="Name" style="width:20%;"
                              filterBy="#{env.name}"
                              filterMatchMode="contains">
                        <h:outputText value="#{env.name}"/>
                    </p:column>

                    <p:column headerText="Directory"
                              filterBy="#{env.directory}"
                              filterMatchMode="contains">
                        <h:outputText value="#{env.directory}"/>
                    </p:column>

                    <p:column headerText="Is Production" style="width:10em;"
                              filterBy="#{env.production}"
                              filterMatchMode="contains">
                        <span class="ui-icon #{env.production ? 'ui-icon-check' : 'ui-icon-closethick'}"/>
                    </p:column>

                     <p:column headerText="EEE" style="width:10em;"
                               filterBy="#{env.eeeType.name}"
                               filterMatchMode="contains">
                        <h:outputText value="#{env.eeeType.name}"/>
                    </p:column>

                    <p:ajax event="rowSelect" update="setupForm:iocEnvBtns"/>
                    <p:ajax event="rowUnselect" update="setupForm:iocEnvBtns"/>
                </p:dataTable>

                <div style="height: 1em"/>

                <p:outputPanel id="iocEnvBtns" style="float: right;">
                    <p:commandButton value="Add..." icon="ui-icon-plus"
                                     actionListener="#{setupEnvManager.handleNewEnv()}"
                                     oncomplete="PF('addEnvDlg').show();" update="addEnvForm:addEnvDlg"
                                     disabled="#{not setupManager.canAdminister()}"
                                     style="width:6em"/>

                    <p:spacer width="10"/>

                    <p:commandButton value="Edit..." icon="ui-icon-pencil"
                                     actionListener="#{setupEnvManager.handleEditEnv()}"
                                     oncomplete="PF('editEnvDlg').show();" update="editEnvForm:editEnvDlg"
                                     disabled="#{not setupEnvManager.editButtonEnabled or
                                               not setupManager.canAdminister()}"
                                     style="width:6em"/>

                    <p:spacer width="10"/>

                    <p:commandButton value="Delete" icon="ui-icon-trash" actionListener="#{setupEnvManager.removeIOCEnvironment()}"
                                     update="setupForm:iocEnvs" style="width:6em"
                                     disabled="#{not setupEnvManager.deleteButtonEnabled or
                                               not setupManager.canAdminister()}">
                        <p:confirm header="Confirmation"
                                   message="Are you sure you want to delete the selected environments?"
                                   icon="ui-icon-alert" />
                    </p:commandButton>
                </p:outputPanel>
            </p:fieldset>
            <p:remoteCommand name="updateSetupForm" update="setupForm"/>
        </h:form>

        <!--
           ADD ENV DIALOG
        -->
        <ui:include src="./dialogs/setup/envparams.xhtml">
            <ui:param name="dialogTitle" value="Add Environment"/>
            <ui:param name="formId" value="addEnvForm"/>
            <ui:param name="widgetVar" value="addEnvDlg"/>

            <ui:param name="isAdd" value="true"/>
        </ui:include>

        <!--
           EDIT ENV DIALOG
        -->
        <ui:include src="./dialogs/setup/envparams.xhtml">
            <ui:param name="dialogTitle" value="Edit Environment"/>
            <ui:param name="formId" value="editEnvForm"/>
            <ui:param name="widgetVar" value="editEnvDlg"/>
            <ui:param name="isAdd" value="false"/>
        </ui:include>

        <ui:include src="./dialogs/setup/eeestatspanel.xhtml">
            <ui:param name="formId" value="prodStatsForm"/>
            <ui:param name="widgetVar" value="prodStats"/>
            <ui:param name="eeeType" value="PRODUCTION"/>
        </ui:include>

        <ui:include src="./dialogs/setup/eeestatspanel.xhtml">
            <ui:param name="formId" value="sboxStatsForm"/>
            <ui:param name="widgetVar" value="sboxStats"/>
            <ui:param name="eeeType" value="SANDBOX"/>
        </ui:include>

        <ui:include src="./dialogs/setup/repomsgsdialog.xhtml">
            <ui:param name="formId" value="prodMessagesForm"/>
            <ui:param name="widgetVar" value="prodMessages"/>
            <ui:param name="eeeType" value="PRODUCTION"/>
        </ui:include>

        <ui:include src="./dialogs/setup/repomsgsdialog.xhtml">
            <ui:param name="formId" value="sboxMessagesForm"/>
            <ui:param name="widgetVar" value="sboxMessages"/>
            <ui:param name="eeeType" value="SANDBOX"/>
        </ui:include>

        <ui:include src="./dialogs/setup/repostructuredialog.xhtml">
            <ui:param name="formId" value="prodStructureForm"/>
            <ui:param name="widgetVar" value="prodStructure"/>
            <ui:param name="eeeType" value="PRODUCTION"/>
        </ui:include>

        <ui:include src="./dialogs/setup/repostructuredialog.xhtml">
            <ui:param name="formId" value="sboxStructureForm"/>
            <ui:param name="widgetVar" value="sboxStructure"/>
            <ui:param name="eeeType" value="SANDBOX"/>
        </ui:include>

        <h:outputScript library="js" name="setup.js" />

        <h:outputStylesheet name="/css/setup.css"/>
        <h:outputStylesheet name="/css/custom.css"/>
    </ui:define>
</ui:composition>
